body{
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #8F8EBF;
}
h1{
    font-family: cursive;
    text-align: center;
    margin-bottom: 5%;
}
a{
    color: #fff;
    font-size: 18px;
}
main{
    width: 50vw;
    margin: 10px auto;
    padding: 10px;
}
table{
    border-style: 10px;
    margin-bottom: 5%;
}
td{
    background-color: #474073;
    padding: 10px;
    font-family: sans-serif;
}
th{
    background-color: #262626;
    padding: 10px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}