body {
    margin: 0;
    padding: 0;  
    background-color: #000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    /* cor plano de fundo */
    background-color: #000;
    color: #FF0000;
    padding: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header h1{
    margin-left: 20px;
}
main {
    width: 70vw;
    margin: 30px auto;
}
img{
    width: 35vw;
    margin: 0 20px 0 0;
}
section{
    margin: 0 0 30px 0;
    padding: 30px;
    background-color: #000;
    color: #fff;
    border: solid 2px #FF0000;
    box-shadow: 2px 3px 5px 2px #FF0000;
    border-radius: 5px;
}
.caixa{
    display: flex;
}
p{
    text-align: justify;
    margin: 0 0 10.5em 0;
}
a{
    padding: 10px;
    color: #fff;
    border: solid 2px #E50914;
    border-radius: 5px;
    text-decoration: none;
}
a:hover{
    background-color: #E50914;
}