*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
}
header{
    padding: 0.2%;
}
header h1{
    margin-left: 10%;
}
a{
    text-decoration: none;
}
/* titulos */
.tituloPagina{
    padding: 0.8%;
    background-color: #F23535;
    color: #fff;
    text-align: center;
}
nav{
    max-width: 800px;
    margin: 0 auto 30px;
}
.botao {
    margin: 0 10px 10px 0;
    padding: 1%;
    border-radius: 8px;
    border: solid #3cac10;
    color: #3cac10;  
}
.botao:hover{
    background-color: #3cac10;
    color: #fff;
}
/* card com destinos */
figure{
    margin: 0;
}
.destinos{
    max-width: 70%;
    margin: 0 auto;
}
.card_destino{
    max-width: 800px;
    margin: 0 auto 20px;
    text-align: justify;
}
.card_destino img{
    width:90%;
}

.card_destino .icon{
    width: 30px;
}
form{
    padding: 6px;
    background-color: #f23535da;
    color: white;
    text-align: center;
}
label{
    margin: 20px 0 0 0;
    
}
input{
    border: none;
    padding: 6px;
    margin: 0 0 20px 0;
    border-radius: 4px;
    width: 60%;
    max-width: 300px;
}
form button{
    margin: 0 10px 10px 0;
    padding: 1%;
    width: 100px;
    border-radius: 8px;
    border: solid #c53939;
    color: #F23535;  
    cursor: pointer;
}
form button:hover{
    border: solid #F23535;
    box-shadow: 0 0 1em #dc6969;
}
footer{
    background-color: #3cac109d;
    text-align: center;
    padding: 1%;
}