*{
    font-family: sans-serif;
}
body{
    margin: 0;
}

main{
    max-width: 70%;
    margin: 0 auto;
}
header{
    padding: 0.2%;
    background-color: #eb7d5b;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.logo{
    color: #fff;
    text-align: left;
}
h1{
    text-align: center;
}
h1,h2,h3{
    color: #f5693d;
}
img{
    width: 60vw;
}
footer{
    margin-top: 10px;
    text-align: center;
    padding: 0.3%;
    color: #fff;
    background-color: #eb7d5b;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
