#par0{
    color: red;
}
#par1{
    color: blue;
}
#par2{
    color: #d2048d;
}
#par3{
    text-align: left;
}
#par4{
    text-align: right;
}
#par5{
    text-align: center;
}
#par6{
    text-align: justify;
}
#par7{
    text-decoration: none;
}
#par8{
    text-decoration: underline;
}
#par9{
    text-decoration: overline;
}
#par10{
    text-decoration: line-through;
}
#par11{
    text-transform: none;
}
#par12{
    text-transform: capitalize;
}
#par13{
    text-transform: uppercase;
}
#par14{
    text-transform: lowercase;
}
#par15{
    text-indent: 0;
}
#par16{
    text-indent: 20px;
}
#par17{
    letter-spacing: normal;
}
#par18{
    letter-spacing: 10px;
}
#par19{
    letter-spacing: -2px;
}
#par20{
    word-spacing: 0;
}
#par21{
    word-spacing: 4px;
}
#par22{
    word-spacing: -4px;
}
#par23{
    word-spacing: 0;
}
#par24{
    line-height: normal;
}
#par25{
    line-height: 20px;
}
#par26{
    font-family: Arial, Helvetica, sans-serif;
}
#par27{
    font-family: Calibri;
}
#par28{
    font-family: 'Courier New', Courier, monospace;
}
#par29{
    font-family: Tahoma;
}
#par30{
    font-size: 12px;
}
#par31{
    font-size: 16px;
}
#par32{
    font-family: 20px;
}
#par33{
    font-size: 24px;
}
#par34{
    font-size: 28px;
}
#par35{
    font-style: normal;
}
#par36{
    font-style: italic;
}
#par37{
    font-style: oblique;
}
#par38{
    font-variant: normal;
}
#par39{
    font-variant: small-caps;
}
#par40{
    font-weight: normal;
}
#par41{
    font-weight: bold;
}